.header{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #BC9321;
    background-color: #000000;
}
@media only screen and (max-width: 1035px) {
    .header {
        display: none;
    }
}

.homeButton{
    width: 260px;
    float: left;
    display: block;
    text-decoration: none;
}

.logo{
    height: 140px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.logoName{
    width: 100px;
    float:right;
    margin-top: 48px;
    margin-right: 10px;
}