.headerPoint{
    float: right;
    width: 150px;
    height: 100%;
    text-align: center;
    border-left: 1px solid #BC9321;
}

.navPoint{
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    vertical-align: middle;
    line-height: 150px;
    display: block;
    text-decoration: none;
}
.navPoint:hover{
    color: #BC9321;
}